/* * _____________________ GLOBAL _________________________________*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent
}

body {
  background-color: #000000de;
  overflow-x: hidden;
  min-height: 100vh;
  color: white;
  font-family: century-gothic;
  padding-bottom: 2rem;

  & button {
    cursor: pointer;
  }
}

/* ! _____________________ GLOBAL _________________________________*/
/* * _____________________ NAVIGATION _____________________________*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 6rem;
  min-height: 12vh;
  /* color: #e5f7efe3; */
  letter-spacing: 4px;
  margin-bottom: 3rem;
  font-weight: bold;

  .nav-links {
    display: flex;
    gap: 1.25rem;
    list-style-type: none;
    letter-spacing: 2px;

    & li {
      cursor: pointer;

      &.active {
        color: #aa7c65;
      }
    }
  }
}

.menuToggle {
  display: flex;
  flex-direction: column;
  display: none;
  gap: 4px;

  & div {
    background-color: white;
    width: 20px;
    height: 2.5px;
  }
}


.container {
  display: flex;
  align-items: center;
  height: 100%;

  &>div {
    width: 70%;
    margin-inline: auto;

    &:not(.active) {
      display: none;
    }
  }
}

/* ! _____________________ NAVIGATION _____________________________*/
/* *______________________ HOME SEC. ______________________________*/
.home {
  height: 100%;
  width: 80% !important;

  & p {
    width: 55%;
  }

  & img {
    position: absolute;
    right: 8%;
    top: 18%;
    width: 50%;
    height: 80%;
    filter: drop-shadow(5px 5px 160px #666666) blur(0.2px);
    z-index: -1;
  }

  & button {
    padding: 0.55rem 1rem;
    background-color: #ab7c65;
    border-radius: 7px;
    outline: none;
    border: none;
    font-weight: bold;
    color: white;
    margin-block: 0.5rem 1rem;
    transition: ease 0.1s;

    &:hover {
      background-color: #af6a47;
      font-size: 13.6px;
    }
  }
}

/* !______________________ HOME SEC. ______________________________*/
/* * *____________________ GAMES SEC. _________________________* * */
.games {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .game {
    display: flex;
    flex-direction: column;

    .desc {
      >hr {
        margin-bottom: 2rem;
      }

      >h2 {
        font-weight: bold;
        margin-bottom: 0.25rem;
      }

      >p {
        margin-block: 1rem;
      }

      & a {
        color: inherit;
      }

      .fa-github,
      .fa-cloud-arrow-down {
        float: right;
        cursor: pointer;
        margin-left: 0.5rem;

      }
    }

    >.preview {
      display: flex;
      overflow-x: hidden;
      gap: 0.45rem;
      padding-bottom: 1rem;
      margin-bottom: 2.5rem;

      &>img {
        width: 32.5%;
        border-radius: 5px;
        box-shadow: -1px 1px 0px #000,
          -2px 2px 0px #000,
          -3px 3px 0px #000,
          -4px 4px 0px #000,
          -5px 5px 0px #000,
          -6px 6px 0px #000;
      }
    }

    .flags {
      justify-content: center;
      gap: 0.75rem;


      >img {
        width: 18% !important;
      }
    }
  }



}

.modal-bg {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    display: flex;
    position: relative;
    width: fit-content;
    height: 90%;
    overflow-x: hidden;
    border-radius: 10px;
    border: 4px solid black;

    .clsB {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      height: fit-content;
      color: black;
      border-radius: 50%;
      padding: 0.35rem 0.5rem;
      cursor: pointer;
      /* box-shadow: -1px 1px 6px 0px white; */
      background-color: rgba(255, 255, 255, 0.7);

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: large;
      }
    }

    .rightA {
      top: 45%;
      right: 5px;
      height: fit-content;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;
      padding: 1rem;
      border-radius: 50%;

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);

      }
    }

    .leftA {
      top: 45%;
      left: 5px;
      height: fit-content;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;
      padding: 1rem;
      border-radius: 50%;

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        font-weight: bold;
      }
    }
  }
}

/* !_______________________ GAMES SECTION _____________________* * */
/* * *_____________________ RESUME SECTION  ___________________* * */
.resume {

  & img {
    width: 100%;
    margin-bottom: 1rem;
  }

  & button {
    display: flex;
    align-items: center;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ab7c65;
    padding: 0.35rem 0.45rem;
    color: white;
    margin-bottom: 0.5rem;
  }

  & i {
    float: right;
    font-size: large;
    top: 4px;
    margin-bottom: 0.22rem;
    margin-left: 0.25rem;
  }
}

/* !_______________________ RESUME SECTION  ___________________* * */
/* *________________________ABOUT-ME SEC. _____________________* * */
.about-me {
  & h2 {
    margin-block: 1rem;
  }

  & img {
    float: right;
    margin: 0 0 1rem 0.25rem;
    width: 30%;
    border-radius: 5px;
    border: 3px solid white;
  }
}

/* !______________________ ABOUT-ME SEC. ______________________* * */
/* *______________________ RESPONSIVE ELEMENTS ____________________*/
@media screen and (max-width: 600px) {
  .menuToggle {
    display: flex;
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 0;
    height: -webkit-fill-available;
    width: 100%;
    /* z-index: 4; */

    background-color: #212121;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(100%);
  }

  .menuOpen {
    .line1 {
      transform: rotate(-45deg) translate(-5px, 4.5px);
    }

    .line2 {
      opacity: 0;
    }

    .line3 {
      transform: rotate(45deg) translate(-5px, -4.5px);
    }

    &.nav-links {
      transform: translateX(0);
    }
  }
}

/* !______________________ RESPONSIVE ELEMENTS ____________________*/